.container{
    display: flex;
    flex-direction: column;
}
.container div{
    align-items: stretch;
    margin: 5px 0px;
}
#conditions{
    width: 99%;
    height: 190px;
    resize: none;
}
#saveConditions:focus{
    outline: none;
}  
#saveConditions{
    margin-top: 0px;
    width: 140px;
    height: 25px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-top: 2px solid #eaeaea;
    border-left:2px solid #eaeaea;
    border-bottom: 2px solid #BBB;
    border-right: 2px solid #BBB;
}
#saveConditions:active{
    border-left:2px solid #BBB;
    border-top: 2px solid #BBB;
    border-right:2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    transition: all;
}
#errors span{
    color:red;
    font-weight: 600;
}
#errors {
    margin-bottom: 0px;
}